<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> 지도에서 찾기 </title>
    <style>
        #map-container {
            display: flex;
        }
        #map {
            width: 80%;
            height: 800px;
        }
        #content-list {
            width: 20%;
            margin-top: 20px;
            padding: 10px;
            overflow-y: auto;
            background-color: #f9f9f9;
            border-right: 1px solid #ddd;
        }
        #content-list h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        #content-titles {
            list-style: none;
            padding: 0;
        }
        #content-titles li {
            margin: 5px 0;
        }
        #content-titles a {
            text-decoration: none;
            color: #007bff;
            cursor: pointer;
        }
        #content-titles a:hover {
            text-decoration: underline;
        }
        .pagination {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .pagination button {
            padding: 5px 10px;
        }
        #back-to-orgs-container {
            display: none;
            justify-content: center;
            margin-top: 10px;
        }
        #back-to-orgs {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div id="map-container">
        <div id="content-list">
            <div>{{ user.username }}(ID: {{ user.id }})</div>
            <a href="{% url 'index' %}">홈으로</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'my_page' %}">마이페이지</a>
                <a href="{% url 'logout' %}">로그아웃</a>
            {% else %}
                <a href="{% url 'login' %}">로그인</a>
            {% endif %}
            <h2 id="list-title">기관 목록</h2>
            <ul id="content-titles">
                <!-- 기관 목록을 JavaScript에서 동적으로 생성합니다. -->
            </ul>
            <div class="pagination">
                <button id="prev-btn" disabled>이전</button>
                <button id="next-btn" disabled>다음</button>
            </div>
            <div id="back-to-orgs-container">
                <button id="back-to-orgs">기관 목록으로 돌아가기</button>
            </div>
        </div>
        <div id="map"></div>
    </div>
    <script>
        var apiKey = "{{ kakao_map_api_key }}";
        var organizations = [{% for organization in organizations %}"{{ organization }}",{% endfor %}];

        // 기관 목록을 오름차순으로 정렬합니다.
        organizations.sort();

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = `//dapi.kakao.com/v2/maps/sdk.js?appkey=${apiKey}&libraries=services&autoload=false`;
        script.async = true;
        script.onload = function() {
            kakao.maps.load(function() {
                // 카카오 맵스 SDK가 로드된 후 실행될 코드
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 6
                };
                var map = new kakao.maps.Map(container, options);
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                map.setMaxLevel(12);
                var geocoder = new kakao.maps.services.Geocoder();
                var positions = [];
                var markers = {};  // 기관별 마커를 저장할 객체

                // 데이터들 넣기
                {% for mapL in mapList %}
                    positions.push({
                        id: '{{ mapL.id }}',
                        title: '{{ mapL.title }}',
                        address: '{{ mapL.location }}',
                        content: '{{ mapL.content }}',
                        organization: '{{ mapL.organization_name }}',
                        people: '{{ mapL.type_of_people }}',
                        home: '{{ mapL.content_link }}',
                        url: '{% url "content" mapL.id %}',
                    });
                {% endfor %}

                // positions 배열을 title을 기준으로 오름차순으로 정렬
                positions.sort((a, b) => a.title.localeCompare(b.title));

                var currentPage = 1;
                var itemsPerPage = 10;
                var filteredPositions = positions;  // Default to all positions

                function displayOrganizations() {
                    var contentList = document.getElementById('content-titles');
                    contentList.innerHTML = '';  // 기존 목록 초기화
                    organizations.forEach(function(organization) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.href = "#";
                        a.setAttribute('data-organization', organization);
                        a.textContent = organization;
                        li.appendChild(a);
                        contentList.appendChild(li);
                    });

                    // 각 기관을 클릭했을 때 이벤트 설정
                    document.querySelectorAll('#content-titles a').forEach(function(element) {
                        element.addEventListener('click', function(event) {
                            event.preventDefault();
                            var organization = this.getAttribute('data-organization');
                            filteredPositions = positions.filter(function (pos) {
                                return pos.organization === organization;
                            });

                            // filteredPositions 배열을 title을 기준으로 오름차순으로 정렬
                            filteredPositions.sort((a, b) => a.title.localeCompare(b.title));

                            currentPage = 1;  // 페이지 초기화
                            displayPage(currentPage, filteredPositions);
                            document.getElementById('back-to-orgs-container').style.display = 'flex';
                            document.getElementById('list-title').textContent = organization + '의 콘텐츠 목록';

                            // 해당 기관의 첫 번째 마커 위치로 이동
                            if (markers[organization] && markers[organization].length > 0) {
                                var firstMarker = markers[organization][0];
                                map.setCenter(firstMarker.getPosition());
                            }
                        });
                    });
                }

                function displayPage(page, positions) {
                    var contentList = document.getElementById('content-titles');
                    contentList.innerHTML = '';  // 기존 목록 초기화
                    var index = (page - 1) * itemsPerPage + 1;  // 번호 초기화
                    var start = (page - 1) * itemsPerPage;
                    var end = start + itemsPerPage;
                    var currentPositions = positions.slice(start, end);

                    currentPositions.forEach(function (pos, i) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.href = pos.url;
                        a.textContent = (start + i + 1) + '. ' + pos.title;
                        li.appendChild(a);
                        contentList.appendChild(li);
                    });

                    // 페이지 버튼 상태 업데이트
                    document.getElementById('prev-btn').disabled = page === 1;
                    document.getElementById('next-btn').disabled = end >= positions.length;
                }

                document.getElementById('prev-btn').addEventListener('click', function() {
                    if (currentPage > 1) {
                        currentPage--;
                        displayPage(currentPage, filteredPositions);
                    }
                });

                document.getElementById('next-btn').addEventListener('click', function() {
                    if ((currentPage * itemsPerPage) < filteredPositions.length) {
                        currentPage++;
                        displayPage(currentPage, filteredPositions);
                    }
                });

                positions.forEach(function (position) {
                    geocoder.addressSearch(position.address, function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                            var marker = new kakao.maps.Marker({
                                map: map,
                                position: coords,
                                clickable: true
                            });

                            // 기관별로 마커 저장
                            if (!markers[position.organization]) {
                                markers[position.organization] = [];
                            }
                            markers[position.organization].push(marker);

                            var iwContent = '<div style="width:150px; text-align:center; padding:6px 0;">' + position.organization + '</div>',
                                iwRemoveable = true;
                            var infowindow = new kakao.maps.InfoWindow({
                                content: iwContent,
                                removable: iwRemoveable
                            });

                            kakao.maps.event.addListener(marker, 'click', function() {
                                infowindow.open(map, marker);
                                map.setCenter(coords);

                                // 콘텐츠 목록 업데이트
                                currentPage = 1;  // 페이지 초기화
                                filteredPositions = positions.filter(function (pos) {
                                    return pos.organization === position.organization;
                                });

                                // filteredPositions 배열을 title을 기준으로 오름차순으로 정렬
                                filteredPositions.sort((a, b) => a.title.localeCompare(b.title));

                                displayPage(currentPage, filteredPositions);
                                document.getElementById('back-to-orgs-container').style.display = 'flex';
                                document.getElementById('list-title').textContent = position.organization + '의 콘텐츠 목록';
                            });

                            kakao.maps.event.addListener(map, 'click', function () {
                                infowindow.close();
                            });
                        }
                    });
                });

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var lat = position.coords.latitude,
                            lon = position.coords.longitude;
                        var locPosition = new kakao.maps.LatLng(lat, lon);
                        map.setCenter(locPosition);
                    });
                } else {
                    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);
                    map.setCenter(locPosition);
                }

                // 초기 페이지 로드
                displayOrganizations();

                document.getElementById('back-to-orgs').addEventListener('click', function() {
                    document.getElementById('list-title').textContent = '기관 목록';
                    displayOrganizations();
                    document.getElementById('back-to-orgs-container').style.display = 'none';
                });
            });
        };

        // 스크립트 태그를 페이지에 추가
        document.head.appendChild(script);
    </script>
</body>
</html>
