<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Again_Content</title>
</head>
<body>
    <a href="{% url 'index' %}">홈으로</a>
    <hr>
    <h1>{{ content.title }}</h1>
    <p>내용: {{ content.content }}</p>
    <p>교육 기관: {{ content.organization_name }}</p>
    <p>위치 : {{ content.location }}</p>
    <p>대상 : {{ content.type_of_people }}</p>
    <p>정원 : {{ content.number_of_people }}</p>
    <p>교육 시작일 : {{ content.start_date }}</p>
    <p>교육 종료일 : {{ content.end_date }}</p>
    <p>등록 시작일 : {{ content.enroll_start }}</p>
    <p>등록 종료일 : {{ content.enroll_end }}</p>
    <p>전화번호 : {{ content.phone_number }}</p>
    <p>참가 링크 : <a href="{{ content.content_link }}">{{ content.content_link }}</a></p>
    
    <div>
        {{ content.title|linebreaksbr}}
        <div>
            {% for tag in content.tags.all %}
                <span>#{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'add_favorite' content.id %}">
        {% csrf_token %}
        <button type="submit">즐겨찾기 추가</button>
    </form>
    {% endif %}

    <a href="#" onclick="history.back(); return false;">뒤로 가기</a>
    <a href="{% url 'content_list'%}">콘텐츠 목록으로</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'my_page'%}">마이페이지</a>
    {% endif %}
</body>
</html>
