<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content_list</title>

    {% comment %} 페이징 동적 처리 {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.page-link', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('#content_items').html(data.page_contents);
                    $('#similar_content_items').html(data.similar_page_contents);
                });
            });

            $('#reset-search').on('click', function () {
                $.get("{% url 'content_list' %}", function (data) {
                    $('#content_items').html(data.page_contents);
                    $('#search-query').val('');
                });
            });
        });
    </script>
</head>

<body>
    <a href="{% url 'index' %}">홈으로</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'my_page' %}">마이페이지</a>
        <a href="{% url 'logout' %}">로그아웃</a>
        <hr>
        <h1>Content_list (로그인된 상태)</h1>
    {% else %}
        <a href="{% url 'login' %}">로그인</a>
        <a href="{% url 'signup'%}">회원가입</a>
        <hr>
        <h1>Content_list (로그인되지 않은 상태)</h1>
    {% endif %}

    {% if request.user.is_authenticated %}
    <h2>추천 콘텐츠</h2>
    <div id="similar_content_items">
        {% include 'contents/similar_content_items.html' %}
    </div>
    {% endif %}

    <hr>
    <h2>조회수 상위 10 콘텐츠</h2>

    {% for content in top_contents %}
        <div>
            <a href="{% url 'content' content.id %}">{{ content.title }}</a>
        </div>
    {% endfor %}

    <hr>
    <h2>검색</h2>
    <form method="GET">
        <input type="text" name='q' id="search-query" {% if search_query %}value="{{ search_query }}{% endif %}">
        <button type="submit">검색</button>
        <button type="button" id="reset-search">초기화</button>
    </form>
    <div id="content_items">
        {% include 'contents/content_items.html' %}
    </div>

    <hr>
</body>

</html>
